In [3]:
import glob
import pandas as pd

In [6]:
csv_files = glob.glob('datasets/*.{}'.format('csv'))
csv_files

['datasets/wfp_food_prices_global_2024.csv',
 'datasets/wfp_food_prices_global_2023.csv',
 'datasets/wfp_food_prices_global_2021.csv',
 'datasets/wfp_food_prices_global_2025.csv',
 'datasets/wfp_food_prices_global_2022.csv']

In [14]:
df_csv_concat = pd.concat([pd.read_csv(file) for file in csv_files ], ignore_index=True)
df_csv_concat.info()
df_csv_concat.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1545948 entries, 0 to 1545947
Data columns (total 17 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   countryiso3   1545948 non-null  object
 1   date          1545948 non-null  object
 2   admin1        1544014 non-null  object
 3   admin2        1544014 non-null  object
 4   market        1545948 non-null  object
 5   market_id     1545948 non-null  int64
 6   latitude      1544014 non-null  float64
 7   longitude     1544014 non-null  float64
 8   category      1545948 non-null  object
 9   commodity     1545948 non-null  object
 10  commodity_id  1545948 non-null  int64
 11  unit          1545948 non-null  object
 12  priceflag     1545948 non-null  object
 13  pricetype     1545948 non-null  object
 14  currency      1545948 non-null  object
 15  price         1545948 non-null  float64
 16  usdprice      1543319 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 200.5+ MB

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Bread,55,KG,aggregate,Retail,AFN,77.00,1.08
1,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (high quality),247,KG,aggregate,Retail,AFN,125.00,1.76
2,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Rice (low quality),145,KG,aggregate,Retail,AFN,54.00,0.76
3,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Wheat,84,KG,aggregate,Retail,AFN,32.25,0.45
4,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.04,70.46,cereals and tubers,Wheat flour (high quality),178,KG,aggregate,Retail,AFN,32.75,0.46