In [3]:
import glob
import pandas as pd

# Supress Scientific Notation
pd.set_option('display.float_format', '{:.6f}'.format)

**Data:**

https://data.humdata.org

In [4]:
# Scan the datasets/ dir and get csv file names
csv_files = glob.glob('datasets/*.{}'.format('csv'))
csv_files

['datasets/wfp_food_prices_global_2024.csv',
 'datasets/wfp_food_prices_global_2023.csv',
 'datasets/wfp_food_prices_global_2021.csv',
 'datasets/wfp_food_prices_global_2025.csv',
 'datasets/wfp_food_prices_global_2022.csv']

In [5]:
# Load, concatenate, summary
df_csv_concat = pd.concat([pd.read_csv(file) for file in csv_files ], ignore_index=True)
df_csv_concat.info()
df_csv_concat.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1545948 entries, 0 to 1545947
Data columns (total 17 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   countryiso3   1545948 non-null  object
 1   date          1545948 non-null  object
 2   admin1        1544014 non-null  object
 3   admin2        1544014 non-null  object
 4   market        1545948 non-null  object
 5   market_id     1545948 non-null  int64
 6   latitude      1544014 non-null  float64
 7   longitude     1544014 non-null  float64
 8   category      1545948 non-null  object
 9   commodity     1545948 non-null  object
 10  commodity_id  1545948 non-null  int64
 11  unit          1545948 non-null  object
 12  priceflag     1545948 non-null  object
 13  pricetype     1545948 non-null  object
 14  currency      1545948 non-null  object
 15  price         1545948 non-null  float64
 16  usdprice      1543319 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 200.5+ MB

,countryiso3,date,admin1,admin2,market,market_id,latitude,longitude,category,commodity,commodity_id,unit,priceflag,pricetype,currency,price,usdprice
0,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.040000,70.460000,cereals and tubers,Bread,55,KG,aggregate,Retail,AFN,77.000000,1.080000
1,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.040000,70.460000,cereals and tubers,Rice (high quality),247,KG,aggregate,Retail,AFN,125.000000,1.760000
2,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.040000,70.460000,cereals and tubers,Rice (low quality),145,KG,aggregate,Retail,AFN,54.000000,0.760000
3,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.040000,70.460000,cereals and tubers,Wheat,84,KG,aggregate,Retail,AFN,32.250000,0.450000
4,AFG,2024-01-15,Badakhshan,Argo,Badakhshan,3690,37.040000,70.460000,cereals and tubers,Wheat flour (high quality),178,KG,aggregate,Retail,AFN,32.750000,0.460000

In [6]:
# Create a Working Copy
df_copy = df_csv_concat.copy()

# Columns to Keep & Rename columns
columns = ['date', 'countryiso3', 'admin1', 'market', 'category', 'commodity', 'unit', 'usdprice']
df = df_copy[columns]
df = df.rename(columns={'date': 'Date', 'countryiso3': 'Symbol', 'admin1': 'Country', 'market': 'Market', 
                   'category': 'Category', 'commodity':'Commodity', 'unit': 'Unit', 'usdprice': 'Price($USD)'})

# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1545948 entries, 0 to 1545947
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Date         1545948 non-null  datetime64[ns]
 1   Symbol       1545948 non-null  object
 2   Country      1544014 non-null  object
 3   Market       1545948 non-null  object
 4   Category     1545948 non-null  object
 5   Commodity    1545948 non-null  object
 6   Unit         1545948 non-null  object
 7   Price($USD)  1543319 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 94.4+ MB

,Date,Symbol,Country,Market,Category,Commodity,Unit,Price($USD)
0,2024-01-15,AFG,Badakhshan,Badakhshan,cereals and tubers,Bread,KG,1.080000
1,2024-01-15,AFG,Badakhshan,Badakhshan,cereals and tubers,Rice (high quality),KG,1.760000
2,2024-01-15,AFG,Badakhshan,Badakhshan,cereals and tubers,Rice (low quality),KG,0.760000
3,2024-01-15,AFG,Badakhshan,Badakhshan,cereals and tubers,Wheat,KG,0.450000
4,2024-01-15,AFG,Badakhshan,Badakhshan,cereals and tubers,Wheat flour (high quality),KG,0.460000

In [7]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

#data_type = df.dtypes
#print("\nData Types:\n", data_type)

Missing Values:
 Date              0
Symbol            0
Country        1934
Market            0
Category          0
Commodity         0
Unit              0
Price($USD)    2629
dtype: int64

TODO: Handle missing values.

### **Categories**

In [ ]:
categories = pd.DataFrame(df['Category'].unique(), columns=['Category'])
categories

### **Commodities**

In [ ]:
commodities = pd.DataFrame(df['Commodity'].unique(), columns=['Commodity'])
commodities